server/node_modules

devicesControler/node_modules

frontend/node_modules
frontend/bower_components

frontend/app/**/*.js
frontend/app/**/*.js.map

server/config.js
frontend/app/config.ts

.npm

logs
*.log
npm-debug.log*

pids
*.pid
*.seed